{% trans_default_domain 'FOSUserBundle' %}

<div class="span4">
    <h4>Mes informations de connexion  </h4>
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <br />
    <button class="btn btn-primary">Modifier</button>
    </form>
</div>

