{% extends "::Layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="span3">
                {% include "::layout/modulesUsed/nav.html.twig" %}
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="row">
                    <h2>BIENVENUE CHEZ MSF</h2>


                   {% for photo in image %}

                       <img src="{{ asset('photo.photo') }}" alt="">{{ photo.photo }}
                       {% endfor %}






                </div>

            </div>
            <div class="span12">

                    <div class="span9">
                        <p>Ici laissez libre court à vos désires d'ambiance.</p>

                    </div>


            </div>

            <div class="span12">
                <h2>Shopping creation</h2>



                {% block composition%}
                    <H3>1-trouver ou selectioner une inspiration</H3>

                    {% include "PagesBundle:Page/inc:catalogue_composition.html.twig" %}

                {% endblock %}
                {% block parfum %}
                    <h3>2-composer parmis nos {n} parfums</h3>

                    {% include "PagesBundle:Page/inc:catalogue_parfum.html.twig" %}

                {% endblock %}
                {% block support %}
                    <h3>3 - associer votre support au choix</h3>
                    {% include "PagesBundle:Page/inc:catalogue_support.html.twig" %}

                {% endblock %}
                {% block apropos %}
                    {% include "PagesBundle:Page/inc:apropos.html.twig" %}

                {% endblock %}

                <div class="pagination">
                    <ul>
                        <li class="disabled"><span>Précédent</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivant</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}