
{% block catalogue %}
    <hr>
<h2> {{ categorie }}</h2>                <ul class="thumbnails">
                    {% for i in 0..5 %}
                        <li class="span2">
                            <div class="thumbnail">
                                <img src="{{ asset('img/msf_spray.jpg') }}" alt="MSF" width="300" height="300">
                                <div class="caption">
                                    <h4>Thumbnail label</h4>
                                    <p>100,00 €</p>
                                    <a class="btn btn-primary" href="{{ path('presentation') }}">Plus d'infos</a>
                                    <a class="btn btn-success" href="{{ path('panier') }}">Ajouter au panier</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
    <hr>
{% endblock %}