{% extends "::base.html.twig" %}

{% block title %}EcommerceBundle:Produits:personalisation{% endblock %}

{% block body %}
<h1>Welcome to the Produits:personalisation page</h1>
    <p>ici nommer votre composition</p>
{% endblock %}
