{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
<div class="span3">
    {% include 'UserBundle:nav_inc:utilisateursConnecte.html.twig' %}
</div>
    <div class="span9">
        <h2>Mes informations</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">

                {% block user_content %}
                    {% include "FOSUserBundle:Profile:show_content_user_profile.html.twig" %}
                {% endblock user_content %}


            </div>
        </div>
    </div>
</div>


<div class="fos_user_user_show">

</div>
