{% block body %}

     <div class="span3">
     <div class="well">
            <ul class="nav nav-list">
                <li class="nav-header"> My Scent Factory</li>
                <li class="active">
                    <a href="{{ path('catalogue_composition') }}">Catalogue des Supports</a>
                </li>
                <li>
                    <a href="{{ path('catalogue_composition') }}">Catalogue des parfums</a>
                </li>
                <li>
                    <a href="{{ path('catalogue_composition') }}">Les accessoires</a>
                </li>
                <li>
                    <a href="{{ path('catalogue_composition') }}">Nos Suggestions</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
