{% block body %}

     <div class="span3">
     <div class="well">
            <ul class="nav nav-list">
                <li class="nav-header"> My Scent Factory</li>
                <li class="active">
                    <a href="{{ path('catalogue_produits') }}">Categorie Supports</a>
                </li>
                <li>
                    <a href="{{ path('catalogue_produits') }}">Categorie des parfums</a>
                </li>
                <li>
                    <a href="{{ path('suggestion') }}">Composition</a>
                </li>
                <li>
                    <a href="{{ path('suggestion') }}">Accessoires</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
