Hello World!

<div class="row">
    <div class="span6 offset3">
        <div class="container">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="{{ 'Customiser'|trans }}" />
            {{ form_end(form) }}

        </div>
    </div>
</div>
